<h1>You Are Home</h1>

<div>
        <form ng-submit="hc.addProperty(hc.propertyToAdd)">
            Name: <input type="text" ng-model="hc.propertyToAdd.name">
            Price: <input type="text" ng-model="hc.propertyToAdd.price">
            Type: <select id="typeOfProperty" ng-model="hc.propertyToAdd.type">
                <option value="">---please select---</option> <!--not selected/blank option-->
                <option value="true">For Sale</option>
                <option value="false">Rental</option>
            </select>
            <button>Add Property</button>
        </form>
        </div>