<h2>Properties For Sale</h2>

<div>
        <table>
            <tbody>
                <tr ng-repeat="property in sc.property.list">
                    <td>{{property.cost}}</td>
                    <td>{{property.sqft}}</td>
                    <td>{{property.type}}</td>
                    <td>{{property.city}}</td>
                    <td><img ng-src="images/{{property.image_path}}"></td>
                    <td><button ng-click="sc.deleteSaleProperty(property)">Delete Property</button></td>
                </tr>
            </tbody>
        </table>
    </div>