<div>
    <h2>Properties For Sale</h2>
    <div class="card" style="width:400px" ng-repeat="property in sc.property.list">
        <img class="card-img-top" ng-src="images/{{property.image_path}}" alt="Card image">
        <div class="card-body">
                <h4 class="card-title">Price: ${{property.cost}}</h4>
                <p class="card-text">
                    <p>Square Footage: {{property.sqft}}</p>
                    <p>Type: {{property.type}}</p>
                    <p>Location: {{property.city}}.</p>
                </p>
            <button class="button" ng-click="sc.deleteSaleProperty(property)">Delete Property</button>
        </div>
    </div>

    <!--Table formatting from before Bootstrap cards.-->
     <!-- <table>
            <tbody>
                <tr ng-repeat="property in sc.property.list">
                    <td>{{property.cost}}</td>
                    <td>{{property.sqft}}</td>
                    <td>{{property.type}}</td>
                    <td>{{property.city}}</td>
                    <td><img ng-src="images/{{property.image_path}}"></td>
                    <td><button ng-click="sc.deleteSaleProperty(property)">Delete Property</button></td>
                </tr>
            </tbody>
        </table> -->